docs/
toolchains/
tests/
sources/
samples/
prebuilt/
platforms/
build/tools/
build/gmsl/
build/awk/
GNUmakefile
README.TXT
RELEASE.TXT
documentation.html
find-win-host.cmd
ndk-build
ndk-build.cmd
ndk-depends
ndk-gdb
ndk-gdb-py
ndk-gdb-py.cmd
ndk-gdb.py
ndk-stack
ndk-which
remove-windows-symlink.sh
